table{
    width: 100%;
}

mat-icon{
    margin-right: 5px;
}

.column-right{
    text-align: right;
}

.margin-right{
    margin-right: 10px;
}

.row:hover{
    background: rgba(0,0,0,.05);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }