mat-toolbar{
    height: 80px;
}

h1{
    font-weight: 300;
}

table{
    width: 100%;
}

mat-icon{
    margin-right: 5px;
}

.column-right{
    text-align: right;
}

.spacer{
    flex: 1 1 auto;
}

.rm{
    margin-right: 10px;
}

.row:hover{
    background: rgba(0,0,0,.05);
}